In [167]:
#import standard data analysis libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

In [169]:
df_players = pd.read_csv('df_players.csv')

In [171]:
df_players.columns

Index(['Unnamed: 0', 'player_mlb_id', 'playerID_LAHMAN', 'birthYear',
       'birthMonth', 'birthDay', 'birthCountry', 'weight', 'height', 'bats',
       ...
       'fly_ball_ratio', 'ground_ball_ratio', 'line_drive_ratio',
       'pop_up_ratio', 'gb_fb_ratio_batter', 'pitcher_fly_balls',
       'pitcher_ground_balls', 'pitcher_line_drives', 'pitcher_pop_ups',
       'gb_fb_ratio_pitcher'],
      dtype='object', length=161)

In [173]:
#[['player_mlb_id','year','total_pa', 'field_p', 'field_c', 'field_1b', 'field_2b', 'field_3b', 'field_ss', 'field_lf', 'field_cf', 'field_rf']]
df_players_fielding = df_players.copy()

In [175]:
df_players_fielding['check'] = df_players_fielding[['total_pa', 'field_p', 'field_c', 'field_1b', 'field_2b', 'field_3b', 'field_ss', 'field_lf', 'field_cf', 'field_rf']].sum(axis=1)
df_players_fielding['total_field'] = df_players_fielding[['field_p', 'field_c', 'field_1b', 'field_2b', 'field_3b', 'field_ss', 'field_lf', 'field_cf', 'field_rf']].sum(axis=1)

In [176]:
#remove players who didn't field at all
df_players_fielding = df_players_fielding[df_players_fielding['check'] > 0]

In [177]:
field_columns = ['field_p', 'field_c', 'field_1b', 'field_2b', 'field_3b', 'field_ss', 'field_lf', 'field_cf', 'field_rf']

for col in field_columns:
    df_players_fielding[f'{col}_ratio'] = df_players_fielding[col] / df_players_fielding['total_field']

In [180]:
ratio_columns = ['field_p_ratio', 'field_c_ratio', 'field_1b_ratio', 'field_2b_ratio', 
                 'field_3b_ratio', 'field_ss_ratio', 'field_lf_ratio', 'field_cf_ratio', 'field_rf_ratio']

df_players_fielding['primary_position'] = df_players_fielding[ratio_columns].idxmax(axis=1).str.replace('_ratio', '').str.replace('field_', '')

C:\Users\etien\AppData\Local\Temp\ipykernel_53780\275693659.py:4: FutureWarning: The behavior of DataFrame.idxmax with all-NA values, or any-NA and skipna=False, is deprecated. In a future version this will raise ValueError
  df_players_fielding['primary_position'] = df_players_fielding[ratio_columns].idxmax(axis=1).str.replace('_ratio', '').str.replace('field_', '')

In [183]:
positions = df_players_fielding[['player_mlb_id','year','primary_position']]

In [185]:
df_players_update = df_players.merge(positions, on= ['player_mlb_id','year'], how='left')

In [187]:
df_players_update.to_csv('df_players_pos.csv')

In [188]:
df_players_batters = df_players_update[df_players_update['primary_position'] != 'p']

In [189]:
df_players_batters.head()

,Unnamed: 0,player_mlb_id,playerID_LAHMAN,birthYear,birthMonth,birthDay,birthCountry,weight,height,bats,...,ground_ball_ratio,line_drive_ratio,pop_up_ratio,gb_fb_ratio_batter,pitcher_fly_balls,pitcher_ground_balls,pitcher_line_drives,pitcher_pop_ups,gb_fb_ratio_pitcher,primary_position
2,2,f79cf1f3d100e5f34d86ce2cd4c8c35ca3daee77,e195c4bc19cb6a08203e3c9e361677b73dbfdc03,2000,10,3,USA,185,74,L,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,80f3a94c7bf1ed6397017744dbb75ff931902e2d,d851612368c1e9612c0c2a444018af96a59bf0b9,1987,1,29,Cuba,235,75,R,...,NaN,NaN,NaN,2.318681,NaN,NaN,NaN,NaN,NaN,1b
6,6,b4246bd7233f08e749626eb0b7647d295f2e37b7,330040146cac722cbbb3b1e86382e36e850da06e,1997,12,18,Venezuela,205,72,R,...,NaN,NaN,NaN,1.327273,NaN,NaN,NaN,NaN,NaN,rf
7,7,a70005cbd23e1b20e856625d4ad363fa8d61788b,d5c5366743bd68d9d3c9f2da1d5ba337cd6ad729,1991,7,26,D.R.,217,71,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8,81272c934b63edda7b2c6ca9f268f5a594ce5131,9c4ebd617a2865a01c7ee911f9a429715209d41c,1995,9,2,D.R.,210,72,R,...,NaN,NaN,NaN,1.168224,NaN,NaN,NaN,NaN,NaN,ss

In [190]:
df_players[df_players['player_mlb_id'] == 'f79cf1f3d100e5f34d86ce2cd4c8c35ca3daee77']

,Unnamed: 0,player_mlb_id,playerID_LAHMAN,birthYear,birthMonth,birthDay,birthCountry,weight,height,bats,...,fly_ball_ratio,ground_ball_ratio,line_drive_ratio,pop_up_ratio,gb_fb_ratio_batter,pitcher_fly_balls,pitcher_ground_balls,pitcher_line_drives,pitcher_pop_ups,gb_fb_ratio_pitcher
2,2,f79cf1f3d100e5f34d86ce2cd4c8c35ca3daee77,e195c4bc19cb6a08203e3c9e361677b73dbfdc03,2000,10,3,USA,185,74,L,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2494,2494,f79cf1f3d100e5f34d86ce2cd4c8c35ca3daee77,e195c4bc19cb6a08203e3c9e361677b73dbfdc03,2000,10,3,USA,185,74,L,...,NaN,NaN,NaN,NaN,2.480000,NaN,NaN,NaN,NaN,NaN
4986,4986,f79cf1f3d100e5f34d86ce2cd4c8c35ca3daee77,e195c4bc19cb6a08203e3c9e361677b73dbfdc03,2000,10,3,USA,185,74,L,...,NaN,NaN,NaN,NaN,1.980583,NaN,NaN,NaN,NaN,NaN